# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#myproject
.ssh/
_viminfo
Qt/MyQQ/Debug/
Qt/MyQQ/Release/
Qt/MyQQ/MyQQ/MyQQ.pro.user
Qt/MyQQ/build-MyQQ-Desktop_Qt_5_2_0_MinGW_32bit-Debug/
CS/board/board/bin/
CS/board/board/obj/
CS/board/board.v12.suo
Qt/MyQQ/MyQQServer/myqqserver.layout
Qt\MyQQ\tool\